---
// Global CSS
import '@/global.css'

// Props
import type { ComponentProps } from 'astro/types'
import { ClientRouter } from 'astro:transitions'

type Props = {
	metadata: ComponentProps<typeof Metadata>['metadata']

	/**
	 * If specified, rewrite URL to this as the page loads.
	 */
	rewriteUrlTo?: string
}

const { metadata, rewriteUrlTo } = Astro.props

// Components
import Metadata from '@/layouts/Metadata.astro'
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, viewport-fit=cover' />
		<Metadata {metadata} />
		<ClientRouter />
		<script is:inline>
			// `color-scheme` override
			const colorScheme = localStorage.getItem('theme')
			if (colorScheme) {
				document.documentElement.style.colorScheme = colorScheme
			}
		</script>

		{
			rewriteUrlTo !== undefined && (
				<script is:inline define:vars={{ rewriteUrlTo }}>
					history.replaceState(null, '', rewriteUrlTo);
				</script>
			)
		}
	</head>
	<body>
		<div id='layout' data-scroll-container data-sticky-container>
			<slot />
		</div>
	</body>
</html>

<style>
	#layout {
		/* Constants */
		--navigation-desktop-inlineSize: 20rem;
		--navigation-mobile-blockSize: 4.16rem;

		/* Rules */
		width: 100dvw;
		height: 100dvh;
		padding: var(--safeArea-insetTop) var(--safeArea-insetRight) var(--safeArea-insetBottom)
			var(--safeArea-insetLeft);
		display: grid;
		align-items: start;
		gap: var(--separator-width);

		&[data-scroll-container] {
			--sticky-paddingBlockStart: var(--safeArea-insetTop);
			--sticky-paddingBlockEnd: var(--safeArea-insetBottom);
			--sticky-paddingInlineStart: var(--safeArea-insetLeft);
			--sticky-paddingInlineEnd: var(--safeArea-insetRight);
		}

		@media not (max-width: 1024px) {
			grid-template:
				'Nav Main' 100dvh
				/ var(--navigation-desktop-inlineSize) minmax(auto, 1fr);

			&[data-sticky-container] {
				--sticky-marginInlineStart: var(--separator-width);
				--sticky-paddingInlineStart: var(--navigation-desktop-inlineSize);
			}
		}

		@media (max-width: 1024px) {
			grid-template:
				'Nav' var(--navigation-mobile-blockSize)
				'Main' 1fr
				/ minmax(auto, 1fr);

			&[data-sticky-container] {
				--sticky-marginBlockStart: var(--separator-width);
				--sticky-paddingBlockStart: var(--navigation-mobile-blockSize);
			}
		}

		> nav {
			grid-area: Nav;
			box-shadow: 0 0 0 var(--separator-width) var(--border-color);
		}

		> main {
			grid-area: Main;
		}
	}
</style>
