---
// Types/constants
import { WalletType } from '@/schema/wallet-types'
import { defaultNavigationItems } from '@/constants/navigation'
import { allRatedWallets } from '@/data/wallets'
import { attributeTree } from '@/schema/attribute-groups'

const attributeGroups = Object.values(attributeTree)


// Components
import Layout from '@/layouts/Layout.astro'
import Navigation from '@/views/Navigation.astro'
import WalletTable from '@/views/WalletTable.svelte'
---

<Layout
	metadata={{
		title: 'Walletbeat',
	}}
>
	<Navigation
		navigationItems={defaultNavigationItems}
	/>
	
	<main data-sticky-container>
		<section data-sticky-container data-column="gap-6">
			<WalletTable
				client:load
				title="Embedded Wallets"
				wallets={
					Object
						.values(allRatedWallets)
						.filter(wallet => wallet.types[WalletType.EMBEDDED])
				}
				{attributeGroups}
			/>
		</section>
	</main>
</Layout>
